@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
.topHead {
  background: url(https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif)
    no-repeat center center fixed;
  background-size: cover;
}
.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topHead {
  width: 100%;
  height: 1000px;
}
