.NavBar {
  width: 100%;
  color: white;
  height: 50px;
  position: fixed !important;
  overflow: hidden;
  z-index: 999999;
  text-align: center;
  background-color: #000000 !important;
}
.resume {
  float: right !important;
}
